body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}


h1 {
    font-size: 90px;
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 60px;
    color: aqua;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outlined-heading {
	-webkit-text-stroke: 2px black;
}

.container {
	background: rgba(0,0,0,0.5);
	padding: 50px;
    width: 15rem;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
    margin-left: 42rem;
    margin-top: 10rem;
    position: absolute;

}

.btn {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 20px 20px;
	margin: 0 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}


.btn:hover {
	background-color: #3e8e41;
}

.container1 {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}



.sayd {
  background-color: white;
  padding: 15px;
  border-radius: 15px;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.serts {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  
}

#search-input {
  margin-top: 20px;
  align-self: center;
}